.card-card {
  position: relative;
}

.home-container {
  min-height: 100vh;
}
.home-main {
  align-items: center;
}
.home-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0c0b0b;
}
.home-intro-background {
  display: flex;
}
.home-content {
  background-color: transparent;
  animation-duration: 2s;
}
.home-name {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 100;
  position: absolute;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-size: max(70%,100px);
  font-family: "Spectral";
  margin-bottom: 30px;
}
.home-text01 {
  color: #ffffff;
  margin-bottom: 30px;
}
.home-icon-group {
  top: 60%;
  width: 287px;
  height: 155px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon {
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon02 {
  text-decoration: none;
}
.home-card {
  width: 200px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text03 {
  max-width: 1000px;
  text-align: justify;
  text-align-last: inherit;
}
.home-slider {
  display: inline-block;
}
.home-slider-slide {
  display: flex;
}
.home-image01 {
  object-fit: cover;
}
.home-slider-slide1 {
  display: flex;
}
.home-image02 {
  object-fit: cover;
}
.home-slider-slide2 {
  display: flex;
}
.home-image03 {
  object-fit: cover;
}
.home-slider-pagination {
  display: block;
}
.home-slider-button-prev {
  display: block;
}
.home-slider-button-next {
  display: block;
}
.home-card1 {
  transition: 0.3s;
}

.home-image04 {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.home-slider1 {
  display: inline-block;
}
.home-slider-slide3 {
  display: flex;
}
.home-image05 {
  object-fit: cover;
}
.home-slider-slide4 {
  display: flex;
}
.home-image06 {
  object-fit: cover;
}
.home-slider-slide5 {
  display: flex;
}
.home-image07 {
  object-fit: cover;
}
.home-slider-pagination1 {
  display: block;
}
.home-slider-button-prev1 {
  display: block;
}
.home-slider-button-next1 {
  display: block;
}
.home-card2 {
  order: 1;
}
.home-image08 {
  width: 100%;
  height: 100%;
}
.home-slider2 {
  display: inline-block;
}
.home-slider-slide6 {
  display: flex;
}
.home-image09 {
  object-fit: cover;
}
.home-slider-slide7 {
  display: flex;
}
.home-image10 {
  object-fit: cover;
}
.home-slider-slide8 {
  display: flex;
}
.home-image11 {
  object-fit: cover;
}
.home-slider-pagination2 {
  display: block;
}
.home-slider-button-prev2 {
  display: block;
}
.home-slider-button-next2 {
  display: block;
}
.home-image12 {
  width: 100%;
  height: 100%;
}
.home-text07 {
  text-align: justify;
}
.home-skills {
  align-items: center;
  justify-content: center;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
.home-footer {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.home-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-text09 {
  margin-left: 0px;
}
.home-text10 {
  margin-left: var(--dl-space-space-unit);
}
.home-text11 {
  margin-left: var(--dl-space-space-unit);
}
.home-text12 {
  margin-left: var(--dl-space-space-unit);
}
.home-text13 {
  margin-left: var(--dl-space-space-unit);
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .home-icon-group {
    align-items: flex-end;
  }
  .home-slider-slide {
    background-size: cover;
    background-image: url('https://picsum.photos/300/300?index=1');
  }
  .home-section {
    position: relative;
  }
  .home-slider-slide3 {
    background-size: cover;
    background-image: url('https://picsum.photos/300/300?index=1');
  }
  .home-slider-slide6 {
    background-size: cover;
    background-image: url('https://picsum.photos/300/300?index=1');
  }
  .home-container4 {
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .home-container4 {
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 360px) {
  .home-name {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-section {
    position: relative;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
